.App {
  text-align: center;
}

.App-logo {
/*   animation: App-logo-spin infinite 20s none; */
  height: 100x;
}

.App-header {
  background-color: rgb(255, 255, 255);
  height: 750px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Entrar {
  color: rgb(96, 37, 151);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


